@page
@model WebApplication___Week_5.Pages.ProductOrder.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductOrderVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.Discounted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.Discounted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOrderVM.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOrderVM.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductOrderVM?.ProductOrderID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
