@page
@model WebApplication___Week_5.Pages.ProductOrder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].Discounted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderVM[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductOrderVM) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discounted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a href="./ProductOrder/Edit?OrderID=@Html.Raw(item.OrderID)&ProductID=@Html.Raw(item.ProductID)">
                    Edit
                </a> |
                    <a href="./ProductOrder/Details?OrderID=@Html.Raw(item.OrderID)&ProductID=@Html.Raw(item.ProductID)">Details</a> |
                    <a href="./ProductOrder/Delete?OrderID=@Html.Raw(item.OrderID)&ProductID=@Html.Raw(item.ProductID)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
